## project folders
artifacts

# exclude generated reports
reports
reportBackup
coverage

# ignore dotenv files, except example
.env
.env.*
!.env.example
env.*

# Logs
logs
log
*.log
npm-debug.log*

# Dependency directories
node_modules

# IntelliJ project files
.idea
out
gen
.DS_Store
*.iml

#tesseract
eng.traineddata
