## project folders
artifacts
.nyc_output
coverage

# exclude generated reports
reports

# ignore dotenv files, except example
.env
.env.*
!.env.example

# exclude file
shared-objects/docs/userAgent.txt
bashScript
shared-objects/APKs

# Logs
logs
log
*.log
npm-debug.log*

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules

# IntelliJ project files
.idea
out
gen
.DS_Store
*.iml

# UTAM
page-objects/__utam__/compiledUTAM