# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#

workflows:
  version: 2
  build-test-and-deploy:
    jobs:
    - build
    - test1:
        requires:
        - build
    - test2:
        requires:
        - test1
    - deploy:
        requires:
        - test2

#version: 2
#jobs:
#  build:
#    docker:
#    # specify the version you desire here
#    - image: circleci/node:8.12
#
#    # Specify service dependencies here if necessary
#    # CircleCI maintains a library of pre-built images
#    # documented at https://circleci.com/docs/2.0/circleci-images/
#    # - image: circleci/mongo:3.4.4
#
#    working_directory: ~/repo
#
#    steps:
#    - checkout
#
#    # Download and cache dependencies
#    - restore_cache:
#        keys:
#        - v1-dependencies-{{ checksum "package.json" }}
#        # fallback to using the latest cache if no exact match is found
#        - v1-dependencies-
#
#    - run: npm install
#
#    - save_cache:
#        paths:
#        - node_modules
#        key: v1-dependencies-{{ checksum "package.json" }}

    # Make connection to BrowserStack
#    - run:
#        name: Set BrowserStack Local Identifier
#        command: echo 'export BROWSERSTACK_LOCAL_IDENTIFIER=develop_test_$BROWSER_NAME_run_$CIRCLE_BUILD_NUM' >> $BASH_ENV
#
#    - run:
#        name: Start BrowserStack Local
#        command: ./.circleci/scripts/browserstack-local.sh start
#        background: true
#
#    - run:
#        name: Check BrowserStack Local running
#        command: sleep 5;./.circleci/scripts/browserstack-local.sh check

#  build_and_test:
#        docker:
#        # specify the version you desire here
#        - image: circleci/node:8.12
#        working_directory: ~/repo
#
#        steps:
#        - checkout
#
#        # Download and cache dependencies
#        - restore_cache:
#            keys:
#            - v1-dependencies-{{ checksum "package.json" }}
#            # fallback to using the latest cache if no exact match is found
#            - v1-dependencies-
#
#        - run: npm install
#
#        - save_cache:
#            paths:
#            - node_modules
#            key: v1-dependencies-{{ checksum "package.json" }}
#
#      test:
#    # run tests!
#    - run: npm test
