{
  "Details" : {
    "Name": "Klassi Automated Testing Tool",
    "Created by": "Larry Goddard"
  },

  "bsProjectName": "{browserstack project name}", // name to be same as listed in the Browserstack browser.json file
  "reportName": "{test reportName}",
  "projectReportName": "{Project Name}",

  "uat": {
    "envName": "UAT",
    "base_url": ""
  },

  "dev": {
    "envName": "DEV",
    "base_url": ""
  }
}
