{
  "Details" : {
    "Name": "Klassi Automated Testing Tool",
    "Created by": "Larry Goddard"
  },

  "reportName": "{test reportName}",
  "reportProjectName": "{Project Name}"

  "uat": {
      "envName": "UAT",
      "base_url": ""
  },

  "dev": {
    "envName": "DEV",
    "base_url": ""
  },
}
