{
  "Details" : {
    "Name": "Klassi Automated Testing Tool",
    "Created by": "Larry Goddard"
  },

  "auth":{
    "host": "{smtp.sitename.co.uk}",
    "port": portNumber,
    "user": "{user@sitename.co.uk}",
    "pass": "{password}"
  },

  "nameList": "Me <{your email address}>"
}

